html, body, #root {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  transition: background-color 1.5s ease-in-out; 
}


.bg-waiting {
  background-color: #0a0a1a; 
}

.bg-game {
  background-color: linear-gradient(135deg, rgba(0,0,100,0.9) 0%, rgba(0,0,50,0.9) 100%);
}